.ipynb*
__pycache__*
saasbo.egg*
.venv/
data/
docs/thesis/*.pdf
docs/thesis/*.aux
docs/thesis/*.log
docs/thesis/*.fls
docs/thesis/*.fdb_latexmk
docs/thesis/*.out
docs/thesis/*.toc
logs/
runs/
runs_smoke/
